﻿@import url("D:\mbsfrontend\MBS\MBS\Dosis-VariableFont_wght.ttf");

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif1;
}

:root {
    --first-color: #0094ff;
    --input-color: #808080;
    --border-color: #ff0000;
    --body-font: 'Times New Roman', Times, serif1;
    --nomal-font-size: 1rem;
    --small-font-size: 1rem;
}

*, ::before::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    background-size: cover;
    background: #041522
}

h1 {
    margin: 0;
}

.clform {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.form {
    width: 350px;
    padding: 80px 40px;
    border-radius: 1rem;
    box-sizing: border-box;
    background: #fff;
    padding: 4rem 2rem;
    position: absolute;
    box-shadow:0 10px 25px rgb(79, 76, 50);

}

.image {
    height: 100PX;
    overflow: hidden;
    top: calc(-100px/2);
    left: calc(50% - 50px);
    position: absolute;
    border-radius: 45px;
    width: 100PX;
}

.cldiv {
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
}

.cltext {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    font-size: var(--nomal-font-size);
    border-radius: .5rem;
    border: 1px solid var(--border-color);
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
    border-color: #d4d3d3;
}

.cllabel {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    background-color: #fff;
    color: transparent;
    font-size: var(--nomal-font-size);
    transition: .3s;
}
.cltext:focus + .cllabel
{
    top: -.5rem;
    left: .8rem;
   color: var(--first-color);
   font-size: var(--small-font-size);
   font-weight:500;
   z-index: 10;
}
.cltext:not(:placeholder-shown).cltext:not(:focus) + .cllabel {
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}
.cltext:focus{
border: 1.5px solid var(--first-color)


}
.sumit {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    height: 35px;
    color: #fff;
    background-color: #0094ff;
    cursor: pointer;
    transition: .3s ease-in-out;
    border-radius: 16px;
    margin-top: 100px;
    font-weight: bold;
}

    .sumit:hover {
        background-color: #264b65
    }
